<!DOCTYPE html>
<html>
  <title>hola que hace</title>
<head>
  <link rel="stylesheet" href="../static/css/AnimeMindoStyle.css/">
</head>
<body>
    <div id='portada' class="center">
        <div class="imgResponsiva">
          <img src="../static/image/numbers/0.png" id="loli2" class="num" />
        </div>  
        <div class="imgResponsiva">
          <img src="../static/image/numbers/0.png" id="loli2" class="num" />
        </div>  
      </div>
    <img id="loli" src="../static/image/loli.jpeg" alt="" />
</body>
</html>