<!DOCTYPE html5>
<html>
  <head>
        <link rel="stylesheet" href="../static/css/buboscss.css">
    <p id="titulo"> Imagenes {{ title }} </p>
  </head>
  <body>
  <div> <img src="https://estaticos.muymascotas.es/media/cache/760x570_thumb/uploads/images/article/5a4bb0105bafe8cfd83c9869/lechuza_0.jpg" class="center" id="lechuza"/></div>
<div class="imgWrapper4" class="center">
    <div class="imgResponsiva">
        <img src="https://wallpaperaccess.com/full/540788.jpg"/>
    </div>
    <div class="imgResponsiva">
        <img src="https://wallpaperaccess.com/full/723285.jpg"/>
    </div>
    <div class="imgResponsiva">
        <img src="http://lorempixel.com/200/200/city"/>
    </div>
    <div class="imgResponsiva">
        <img src="http://lorempixel.com/200/200/abstract"/>
    </div>
</div>

<div class="imgWrapper3" class="center">
    <div class="imgResponsiva">
        <img src="http://lorempixel.com/200/200/business"/>
    </div>
    <div class="imgResponsiva">
        <img src="https://img.pokemondb.net/artwork/large/pidgey.jpg"/>
    </div>
    <div class="imgResponsiva">
        <img src="https://wallpaperaccess.com/full/639677.jpg"/>
    </div>
</div>
    <body>
</html>