body 
{   
    background-image:url('../../image/fondo.jpeg');
    background-size: 30%;
    width: 100%;
    
}
.imgResponsiva .num{
    display: inline-block;
    font-size: inherit;
}
.imgResponsiva .num {width: 50%; max-width: 225px;}
.imgResponsiva .num {width: 50%; max-width: 225px;}
img {
    position: relative;
    margin: auto;
    margin-top: 0%;
    width: 20%;
    display: block;    
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
div{
    width: 60%;
}


#loli{
    position: relative;
    width: 20%;
    margin: auto;
    margin-right: 2%;

}

#loli2{

    width: 5%;

}

#portada
{
    background-image: url('../../image/portada1.jpeg');
    width: auto;
}
