body 
{
    background-image: url("../../image/fondo.jpeg");
}
img {
    position: relative;
    margin: auto;
    margin-top: 0%;
    width: 95%;
    display: block;    
}


#loli{
    position: relative;
    width: 20%;
    margin: auto;
    margin-right: 2%;

}
#loli2{
    width: 50%;
    margin: auto;
    margin-top: 2%;
}
#fondo
{
    background-image: url('../../image/portada.jpeg')
}
